pandas~=2.3.0
numpy
networkx~=3.5
matplotlib
scikit-learn~=1.7.0
xgboost
beautifulsoup4~=4.13.4
requests~=2.32.4
plotly~=6.2.0
dash~=3.1.1
spacy
vaderSentiment
aiohttp
asyncpraw~=7.8.1
feedparser
python-dotenv~=1.1.1
duckdb
websockets~=15.0.1
twikit
redis
orjson